body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #313131, #b2b3b6);
    font-family: Arial, sans-serif;
}

.title {
    color: #e2e1e1;
    margin-bottom: 20px;
}

.container {
    background: rgb(65, 65, 65);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    width: 280px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e2e1e1;
    color: rgb(20, 20, 20);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.card-clima {
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    background: #f0f4f8;
}

.card-clima h3 {
    margin: 5px 0;
}